@import "tailwindcss";

@theme {
  --animate-customAni: customAni 1s ease-in-out infinite;

  @keyframes customAni {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}
